<h1>{{title}}</h1>

<!-- <nav>
    <a routerLink="/">Index</a>
    <a routerLink="/home">Home</a>
    <a routerLink="/about">about </a>
    </nav>

    <router-outlet></router-outlet>     -->

<timeline titulo="The Star Wars Saga order">

    <etapa etapa="Ep.3">
        <conteudo detalhes="Foi legal"></conteudo>
    </etapa>

    <etapa side="right" etapa="Ep.2">
        <conteudo detalhes="Foi legal"></conteudo>
    </etapa>

    <etapa etapa="Ep.1" (callback)="teste('Etapa')">
        <header header="The Phantom Menance" (callback)="teste('Header')" ></header>
        <conteudo detalhes="Foi legal">
            <button (click)="teste('Botao dentro do conteudo')">TESTE</button>
        </conteudo>
    </etapa>

</timeline>
<!-- <timeline></timeline> -->